.about {
  text-align: center;
  &__body {
    max-width: 540px;
    margin: 0 auto;
  }
  &__text {
    max-width: 540px;
    color: #727272;
    line-height: 20px;
    margin: 0px 0px 100px 0px;
  }
  &__title {
    margin: 112px 0px 50px 0px;
    max-width: 540px;
    color: #727272;
    line-height: 20px;
  }
}
