@media (max-width: $mobileSmall) {
  .header {
    max-width: 350px;
  }
  .container {
    text-align: center;
    padding: 20px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .menu__body {
    margin: 50px 0;
  }
  .menu__list {
    flex-direction: column;
    text-align: center;
    li {
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .design {
    &__title {
      text-align: left;
    }
    &__text {
      text-align: left;
      margin: 0px 0 20px 0;
    }
  }
  .button {
    font-size: 13px;
    min-width: 100px;
    min-height: 30px;
    display: block;
    text-align: left;
    margin: 0px 0px 30px 0px;
  }
  .project {
    max-height: 390px;
    display: flex;
    padding: 0px 0px 25px 0px;
    &__row {
      flex-wrap: wrap;
      margin-top: 30px;
    }
    &__body {
      padding: 3px 10px;
      margin: 0 auto;
      li {
        padding-top: 10px;
      }
    }
  }
  .about {
    &__title {
      margin: 50px 0 30px 0;
    }
    &__text {
      margin: 0px 0px 50px 0px;
    }
  }
  .job {
    &__title {
      margin: 50px 0 30px 0;
    }
    &__image {
      margin: 0px 0px 50px 0px;
    }
  }
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 680px) {
}
@media (max-width: 821px) {
  .project {
    padding: 10px;
  }
}
@media (max-width: 823px) {
  .project {
    &__row {
      padding: 30px;
    }
  }
}
@media (max-width: 510px) {
  .project {
    &__row {
      padding: 10px;
    }
  }
}
