.menu {
  &__body {
    margin: 79px 0px 162px 0px;
    max-width: 611px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    li {
      position: relative;
    }
  }
  &__link {
    color: $color_black;
    &:hover {
      text-decoration: underline;
    }
  }
}
