.project {
  min-height: 250px;
  background-color: $background-color_2;
  padding: 100px 0;
  color: $color_4;
  align-items: center;
  &__body {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      background: url("../../src/img/project.png") left no-repeat;
      width: 50px;
      height: 50px;
      display: block;
      background-size: contain;
      margin: 0px 10px 0px 0px;
    }
    li {
      display: inline-block;
      max-width: 70px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__row {
    flex-wrap: wrap;
  }
  &__body {
    margin: 0px 0px 10px 0px;
  }
}
