$color_1: #000;
$color_2: #727272;
$color_4: white;
$color_5: #34547a;
$font-family_1: "Roboto";
$background-color_1: #eeeff1;
$background-color_2: #34547a;
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$containerPadding: 30px;
$mobile: 767.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;