$color_black: #000;
$color_grey: #727272;
$color_white: white;
$color_blue: #34547a;
$font-family-Roboto: "Roboto";
$background-color_white: #eeeff1;
$background-color_blue: #34547a;
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$containerPadding: 30px;
$mobile: 767.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
