.about {
  max-height: 359px;
  text-align: center;
  padding: 112px 0 100px 0;
  max-height: 1140px;
  &__body {
    max-width: 540px;
    margin: 0 auto;
  }
  &__image {
    position: relative;
    margin: 57px 0px 0px 0px;
    padding: 20px;
    img {
      max-width: 100%;
    }
  }
  &__vector {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px;
  }
}
