@mixin fontz($f) {
  font-size: $f;
}
/*************************************************************/
@import "variables";
@import "null";
@import "design";
@import "menu";
@import "about";
@import "job";
@import "project";
@import "footer";
@import "media";
@import "classes";
/*************************************************************/

/*************************************************************/
body {
  color: #000;
  font-size: 14px;
  font-family: "Roboto";
}
header {
  max-height: 700px;
  background-color: $background-color_1;
}
span {
  font-size: 21px;
}
